@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Just+Another+Hand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-family: 'Just Another Hand', cursive;
    background-color: #fbd4eb;
    overflow: scroll;
    overflow-x: hidden;
}

header {
    padding-top: 2vh;
    display: grid; 
    place-items: center;
    width: 100%;
    height: 41vh; 
    position: relative;
    background-color: #CDC1FF; 
    overflow: visible; 
}
.menu-icone,  .menu-icone-fecha{
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 12;/*mds tava me matando pra ver se era o js q n tava funcionando quando clicava ou o html mas era isso ai KKKK a imagem tava na frente, que odio*/
    align-self: flex-start;
}

.menu-icone-fecha{
    position: fixed;
}

header #diva{
    pointer-events: none;
    margin: auto;
    display: flex;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
}

#diva img{
    
    max-width: 75vh;
    min-width: 60vh;
}

header .texto-logo {
    text-align: center;
    font-size: 4.5em; 
    color: #FFFFFF;
    margin-top: 32vh;
    text-shadow: 0 0 2px #000000, 
                 0 0 5px #030055, 
                 0 0 10px #caecff, 
                 0 0 20px #000000;
    z-index: 2; /* texto em cima img*/
}

section  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #CDC1FF;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    border: 0.5px solid #ccc;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;

}

.titulos {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    font-size: 2.5em; 
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000000;
}
.titulos-sem-sombra {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    font-size: 3em; 
    color: #8979ee;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    box-shadow: 2px 2px 1px #797070;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;   
    flex-basis:30%;
    border-radius: 10%;
    
    margin: 5px;
}
.card img{
    width: 60px;
    background-color: #FFCCEA;   
    border-radius: 20%;
}
.card, .reserva, .menu-icone {
    transition: transform 0.3s ease; 
}

.card:hover, .reserva:hover, .menu-icone:hover,.usuario img:hover {
    transform: scale(1.05); 
}
.card h2 {
    color: #5641ab;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
}
.reserva{
    margin:auto;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; 
    background-color: #FFCCEA;
    border: #b4b4b4 1px solid;
    border-radius: 4%;
    max-width: 80vw; 
    box-shadow: 0px 4px 10px #9584ff;
 
}
.reserva img{
    width: 50px;

}
.reserva  a, .reserva button{
    text-decoration: none;
    color: #282828;
    font-family: 'Just Another Hand', cursive;
    background: transparent;
    border: none;
    font-size: 3em;
    cursor: pointer;
}
.menu-icone-fecha{
    z-index: 100;
}

.menu-hamburguer {
    display: block;
    top: 0;
    z-index: 100;
    padding-top: 14%;
    border-right: #eee7e9 2px solid;
    left: 0;
    position: fixed; 
    width: 60vw;
    height: 100vh;
    background-color: #FFF6E3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-hamburguer h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    color: #493628;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: #9e9e9e 1px solid;

}
.fechado {
    display: none ;
}

.menu-hamburguer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-hamburguer ul li {
    padding: 20px;
    text-align: center;
    border-bottom: #9e9e9e 1px solid;
}
.menu-hamburguer ul li:hover{
    background-color: #ffffff;

}
.menu-hamburguer img{
    padding-left: 15% ;
    padding-top: 16%;
    width: 70%;
}
.menu-hamburguer ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
}


.paragrafos {
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;

}

.login, .cadastro, .form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 90%;
    border-radius: 8%;
    padding: 5%;
}
.login button, .cadastro button {
    box-shadow: none;
    background-color: #00C853;
    padding: 4%;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8em;
    color: #0f0c0a;
    height: 5vh;
}
.login #nome, #senha, .cadastro #nome, .cadastro #senha,.form-container input {
    width: 70%;
    height: 3vh;

}
.login label , .cadastro label{
    font-size: 1.5em;
}
.cards .login:hover, .cards .cadastro:hover{
    transform: none;
}


.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    border: none;
    margin: 50%;
    border-radius: 1% 20% 1% 20%;
    z-index: 100;
    width: 50%;
    height: 20%;
    background-color: #ffffff;
    opacity: 100%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
}
.modal h2{
    font-size: 2em;
    color: #000000;
    font-weight: 400;
    text-align: center;
}
.fundo-escuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.4); 
    z-index: 99; 
    display: none;
}
.login img,.cadastro img {
    background-color: transparent;
    width: 60%;
}
.fundo-escuro.aparecendo, .modal.aparecendo,.usuario.aparecendo {
    display: flex;
}

.usuario{
    z-index: 100;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;}
.usuario h2{
    font-weight: 400;
    font-size: 2em;
}
.usuario img{
    width: 10%;
    margin-right:3%;
    margin-left: 3%;
}

.form-container .reserva  {
    width: 80%;
    height: 40%;
    font-size: 0.5em;
}
.form-container form {
    background-color: #F2F9FF;
    width: 100%;
    padding-bottom: 10vh;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-container form select{
    width: 70vw;
    height: 3vh;
  
}


.form-container form #observacoes{
    min-width: 70vw;
    max-width: 70vw;
}
.form-container, .agenda{
    padding: 0;
}
.texto-servicos{
    margin-top: 5%;
    padding-bottom: 2%;
    background-color: #F2F9FF;
    width: 100%;
    border-radius: 100% 100% 0% 0%;
    display: flex;
    justify-content: center;
}
.texto-servicos h2{
    color: #E195AB;
    font-weight: 400;
    font-size: 10vw;
    text-shadow: 1px 1px 10px rgb(255, 243, 249);
}
.texto-servicos{
    display: flex;
    flex-direction: row;
}
.texto-servicos img{
    margin: 0 6%;
    display: flex;
    width: 10%;
    margin-top: 10;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #BFECFF;
    position: fixed;
    z-index: 100;
}

.preloader img {
    background: none;
    box-shadow: #FF8A8A ;
    border-radius: 50%;

}

.preloader h1,.texto-logo {
    text-align: center;
    font-family: "Just Another Hand", cursive;
    font-size: 25vw;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0 0 2px #000000, 
    0 0 2px #030055, 
    0 0 2px #caecff, 
    0 0 2px #000000;

}

.agenda .reserva{
    background-color:#FFF5D7 ;
    width: 80vw;
    overflow: visible;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6em;
    overflow-x: scroll;
}
.agenda h2{
    font-weight: 400;
}
.agenda{
    width: 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    border-radius: 20% 20% 0% 0%;
    flex-direction: column;
    background-color: #F2F9FF;
    min-height: 50vh;
    width: 100%;
    padding: 10%;
}

.agenda .pin{
    width: 15%;
    position: relative;
    margin-bottom: -10%;
    margin-left: 10%;
    margin-top: -10%;
    
}
.agenda .reserva img{
    border: #000 1px solid;
    margin-left: 2%;
    border-radius: 100%;
}

/* é bem inutil daqui pra baixo mas deixa bonitinho a barrinha e tlas*/ 

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #ab92f8; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #836FFF; 
    border-radius: 10px;
    border: 3px solid #CDC1FF; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #5454d5; 
}